html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #02ec88;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signup {
  margin-top: 5%;
  width: 45%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup h1 {
  align-self: flex-start;
  margin-top: 8%;
  margin-left: 15%;
  font-size: 2.7em;
  color: #02ec88;
}
.signup hr {
  width: 70%;
}
.signup .input-field {
  padding: 15px;
  margin-top: 15px;
  font-size: 1.2em;
  border-radius: 5px;
  border: 0.7px solid #dad7ce;
  border-style: groove;
  width: 40%;
}

.signup button {
  padding: 15px;
  margin: 40px;
  width: 150px;
  border-radius: 5px;
  border-style: none;
  border: 0.2px solid #dad7ce;
  background-color: #02ec88;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content .email-code{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.modal-content .email-code p {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-content .email-code input{
    padding: 5px;
    width: 20%;
    height: 5%;
    font-size: 1em;
    border-radius: 5px;
    border: .2px solid rgb(151, 150, 150);
}

.modal-content .verify{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-content .verify a  {
    padding: 5px;
    text-decoration: none;    
    font-size: 1.2em;
}
.modal-content .verify button {
    padding: 10px;
}