* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    /* background-color: #dbdbdb; */
    background-color: #00b323;

}

.flex {
    display: flex;
}

.container {
    flex-direction: column;
    border: 1px black solid;
    width: 40%;
    align-items: center;
    margin-top: 5%;    
    padding: 15 px;
    background-color: white;
    border-radius: 10px;
    border : none
}

.container * {
    width: 80%;
}

.container p {
    margin-bottom: 20px;
    padding: 25px;
}

.container h1 {
    padding-top: 15%;
    
    color:green;
}

.container p {
    padding-top: 15px;
}

.container hr {
    margin-bottom: 5%;
    margin-bottom: 30px;
}

.container input {
    margin-top: 2.5rem;
    padding-top: 10px;
    text-align: left;
    font-size: 1.75rem;
    border : .5px solid rgb(163, 159, 159) ;
    border-radius: 5px;
    padding: 17px;    
}

.container a {
    margin-top: 10%;
    padding: 25px;
    /* background-color: #151e60; */
    background-color: rgb(26, 150, 26);
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 15%;
    width: 40%;
    color: white;
    text-align: center;
    font-size: 1.90rem;
}

.container a:hover {
    background-color: green;
}
/* 990 */
@media screen and (max-width: 990px) {
    .container{
        width: 70%;
    }
}

/* 640 */
@media screen and (max-width: 640px) {
    .container{
        width: 80%;
    }
    .container a {
        font-size: 1.3rem;
    }
}

/* 550 */
@media screen and (max-width: 550px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 100%;
        padding: 15px;
        margin-top: 0;
    }

    .container * {
        width: 70%;
    }

    .container input {
        font-size: 1.1rem;
    }

    .container a {
        width: 65%;
        font-size: 1.5rem;
    }
}