*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}

body{
    margin: 0;
    background-color: #333333;
}
.head{
    justify-content: space-between;    
    background-color: white;    
} 

.head *{
    margin-top: 50px;
    margin-bottom: 30px;        
}
.head img{
    margin-left: 100px;
    width: 200px;
    
}
.head button{
    padding: 10px;
    margin:55px;
}

.login_btn{
    margin-right: 100px;
    padding: 20px;
    width: 9%;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    border: none;    
    font-size: 1rem;
}

.login_btn:hover{
    background-color: #00b323;
    color: white;
}
.parent-body{
    background-color: #00b323;
}
.parent-body * {
    margin-top: 10%;    
}
.parent-body img{
    width: 60%;   
}

.left{
    flex-direction: column;   
    /* width: 40%; */
    margin-left: 15%;
    padding: 30px;
}
.left h1 , h2{
    color: white;
    display: inline ;

}
.left h1{
    font-size: 3rem ;
}
.left h2{
    font-size: 1.5rem ;
}
#signup_btn{    
    background-color: white;
    color: #00b323  ;
    border : none  ; 
    font-size: 1rem;
    padding: 20px;
    border-radius: 10px;
    width: 300px;    
}
#signup_btn:hover{
    background-color: rgb(231, 222, 222);
}
#hiddenBtn{
    display: none;    
}   

footer p{    
    padding: 15px;
    margin: 3%;   
    text-align: center;
}
/* 1600 */
@media screen and (max-width: 1600px) {
    .parent-body img{
        width: 80%;
    }
    .left{
        padding-right: 10px;
    }
    .left h1{
        font-size: 2rem;
    } 
   .login_btn{
        width: 16%;        
    }
    .left{        
        margin-left: 8%;
    }
}
/* 985 */
@media screen and (max-width: 990px) {
    .login_btn{
        width: 25% ;
    }
    .left h1 , h2{
        margin-top: 4%;
     
    }
    .left h1{
        font-size: 2.8rem;
    } 
    .left h2{
        font-size: 1.40rem;
    }
    .left{        
        margin-left: 4%;
        width: 80%;
    }
    .parent-body{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    #signup_btn{
        width: 180px;
        padding: 15px;
    }
    footer p {
        font-size: .75rem;
    }
}
/* 700 */
@media screen and (max-width: 700px) {
    .head bottom{
        /* font-size: .25rem; */
        width: 35% ;
    }
}
/* 400 */
@media screen and (max-width: 700px) {
    
    .parent-body{
        align-items: flex-start;
        /* margin-left: 5%; */
    }
    .left{
        margin-left: 15%;
    }
    .heade{
        justify-content: space-around;
    }
   
    .head button{
        /* font-size: .25rem; */
        display: none;
    }
  
    #hiddenBtn{
        display: block     ;    
        width: 60%;
    }   
    #hiddenBtn:hover{
        background-color: #0f8126;
    }
    .head{
        display: none;
    }
}
/* 480 */
@media screen and (max-width: 480px) {
    #hiddenBtn{
        width: 80%;
        padding: 15px;
    }
}